.example-card {
    max-width: 300px;
    margin: 15px;
}

.example-header-image {
    background-image: url('https://mars-photos.herokuapp.com/explore/images/Perseverance_rover.jpg');
    background-size: cover;
  }