<h2>NASA Mars Photos</h2>

<table style="margin-top: -50px;">
    <td style="width: 400px;">
        <div>
            <p>API URL: {{nasaApiService.marsPhotosUrl}}</p>
        </div>
        <div>
            <p>Rover Name: {{nasaApiService.roverName}}</p>
        </div>
        <div>
            <img mat-card-image src='https://mars-photos.herokuapp.com/explore/images/Perseverance_rover.jpg'
                matTooltip='https://mars-photos.herokuapp.com/explore/images/Perseverance_rover.jpg'
                style="padding-right: 20px;">
        </div>
    </td>

    <td>
        <mat-list>
            <mat-list>
                <mat-calendar #dateInput [(selected)]="selectedDate" (selectedChange)="dateChanged()"
                    [minDate]="minDate" [maxDate]="maxDate" style="width: 300px;"></mat-calendar>
            </mat-list>
            
            <mat-list-item>
                <button mat-raised-button color="warn" (click)="dayOnLanding()">
                    Photos on day of Landing {{dateOnLanding}}
                </button>
            </mat-list-item>
            
            <mat-list style="padding-left: 20px;">
                <mat-card-subtitle>Results Images Width {{imagesWidth}}px</mat-card-subtitle>
                <mat-slider #widthSlider style="width: 250px;" min="200" max="800" tickInterval="100"
                    (valueChange)="widthChanged(widthSlider.value)">
                </mat-slider>
            </mat-list>            
        </mat-list>
    </td>
</table>

<mat-divider></mat-divider>

<tr *ngFor="let mPhoto of (response$ | async)?.photos">
    <mat-card class="example-card" [style.width.px]="imagesWidth" [matTooltip]="mPhoto.img_src">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Title: {{mPhoto.camera.full_name}} ({{mPhoto.camera.name}})</mat-card-title>
            <mat-card-subtitle>Photo Id: {{mPhoto.id}}</mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image [src]="mPhoto.img_src">

        <mat-card-footer style="padding-left: 15px;">
            <mat-card-subtitle>Mars Landing Date (Sol): {{mPhoto.sol}}</mat-card-subtitle>
            <mat-card-subtitle>Earth Date: {{mPhoto.earth_date}}</mat-card-subtitle>
        </mat-card-footer>
    </mat-card>
</tr>