<h2>Astronomy Picture of the Day</h2>

<mat-card class="example-card" style="max-width: 600px; max-height: 700px;">
    <mat-card-header>
        <mat-card-title>Title: {{(response$ | async)?.title}}</mat-card-title>
        <mat-card-subtitle>Date: {{(response$ | async)?.date}}</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image [src]="(response$ | async)?.url"
        alt="NASA Astronomy Picture of the Day {{(response$ | async)?.url}}">
    <mat-card-content>
        <p>{{(response$ | async)?.explanation}}</p>
    </mat-card-content>

    <mat-card-actions>
        <button (click)="sendRequest()" mat-raised-button color="primary">
            Send Request
        </button>
    </mat-card-actions>
</mat-card>